<header>
  <a class="logo" routerLink="">
    <lucide-angular
      class="logo-icon"
      [img]="Headphones"
      [size]="24"
      [strokeWidth]="2"
    ></lucide-angular>
    <span>Micdrop</span>
  </a>

  <nav>
    <a routerLink="">Home</a>
    <a routerLink="/episodes">Episodes</a>
    <a routerLink="/playlists">Playlists</a>
    <a routerLink="/confessions">Confessions</a>
  </nav>

  <div class="login">
    <app-theme-toggle [showLabel]="false"></app-theme-toggle>
    <a class="login-link" routerLink="/login" href="">Login</a>
  </div>
</header>
