@use '../../../../styles/variables.scss' as *;
@use '../../../../styles/mixins.scss' as *;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

header {
  @include flex(row, space-between, center);
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 999;
  height: 4rem;
  padding: 1rem;
  background-color: rgba(var(--background-rgb, 255, 255, 255), 0.6);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-bottom: 1px solid var(--border);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease-in-out;

  .logo {
    @include flex(row, center, center);
    gap: 0.5rem;

    .logo-icon {
      color: rgba(37, 99, 235, 1);
    }

    span {
      font-family: var(--font-sans);
      font-weight: 900;
      font-size: 20px;
    }
  }

  nav {
    display: none;

    a {
        font-size: 0.875rem;

      &:hover {
        color: rgba(37, 99, 235, 1);;
      }
    }
  }

  .login {
    @include flex(row, center, center);
    gap: 1rem;

    .login-link {
      color: var(--primary);
      font-weight: 300;
      font-size: 1rem;

      &:hover {
        color: rgba(37, 99, 235, 1);;
      }
    }

    .login-icon {
      color: var(--primary);
    }
  }

  @media (min-width: 768px) {
        padding: 1rem 4rem;

        nav {
            @include flex(row, center, center);
            gap: 1rem;
            cursor: pointer;
          }
  }
}
