<div class="playlist-header">
  <h2>Playlists</h2>
  <p>Manage your curated collections of audio content.</p>
  <button (click)="toggleForm()" class="add-btn">
    <lucide-icon [img]="PlusCircle"></lucide-icon> Add Playlist
  </button>
</div>

<div class="playlist-grid">
  <div class="playlist-card" *ngFor="let playlist of playlists">
  <div class="card-body">
    <h3>{{ playlist.name }}</h3>
    <p>{{ playlist.description }}</p>
    <div class="card-meta">
      <span>{{ playlist.episodes.length }} Episodes</span>
      <span>
        Created:
        {{
          playlist.created_at
            ? (playlist.created_at | date: 'yyyy-MM-dd')
            : 'N/A'
        }}
      </span>
    </div>
    <div class="card-actions">
      <button (click)="editPlaylist(playlist)">
        <lucide-icon [img]="SquarePen"></lucide-icon>
      </button>
      <button (click)="confirmDelete(playlist)">
        <lucide-icon [img]="Trash2"></lucide-icon>
      </button>
    </div>
  </div>
</div>

</div>

<div *ngIf="showForm" class="playlist-form-backdrop" (click)="toggleForm()">
  <div class="playlist-form-modal" (click)="$event.stopPropagation()">
    <app-admin-playlist-form
      [playlist]="editingPlaylist"
      (submitted)="onFormSubmitted()"
    ></app-admin-playlist-form>
  </div>
</div>




<app-confirm-modal
  *ngIf="showConfirmModal"
  class="confirm-modal"
  [message]="'Are you sure you want to delete this playlist?'"
  [confirmText]="'Yes, Delete'"
  [cancelText]="'Cancel'"
  (confirmed)="deletePlaylist()"
  (canceled)="hideConfirmModal()"
/>

