<!-- <header>
    <a class="main-icon" [routerLink]="['/admin']">
      <lucide-angular class="logo-icon" [img]="LayoutDashboard" [size]="24" [strokeWidth]="2"></lucide-angular>
      <span>Dashboard</span>
    </a>
  
    <a class="main-icon" [routerLink]="['/admin', 'confessions']">
      <lucide-angular class="logo-icon" [img]="MessageSquare" [size]="24" [strokeWidth]="2"></lucide-angular>
      <span>Confessions</span>
    </a>
  
    <a class="main-icon" [routerLink]="['/admin', 'playlists']">
      <lucide-angular class="logo-icon" [img]="List" [size]="24" [strokeWidth]="2"></lucide-angular>
      <span>Playlists</span>
    </a>
  
    <a class="main-icon" [routerLink]="['/admin', 'team']">
      <lucide-angular class="logo-icon" [img]="Users" [size]="24" [strokeWidth]="2"></lucide-angular>
      <span>Team</span>
    </a>
  </header>
  
   -->

   <header>
    <a
      class="main-icon"
      *ngFor="let item of menuItems"
      [routerLink]="item.route"
    >
      <lucide-angular
        class="logo-icon"
        [img]="item.icon"
        [size]="24"
        [strokeWidth]="2"
      ></lucide-angular>
      <span>{{ item.label }}</span>
    </a>
  </header>
  